h1,
h2 {
  font-weight: 400;
  color: black;
}

/* helpers */
.flex-column {
  display: flex;
  flex-direction: column;
}

/* page elements */

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 300px;
}

.container > div,
form {
  margin-top: 30px;
  text-align: left;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  height: 40px;
  padding: 10px 20px;
  border: none;
  background-color: lightslategray;
  font-size: 16px;
  margin-top: 20px;
  color: white;
}

.title-section {
  color: red;
}

.section-header {
  font-size: x-large;
}

.response-section {
  width: 100%;
}
.response {
  border: 1px solid lightslategrey;
  background-color: lightskyblue;
  height: 150px;
  width: 200%;
}
